.searchBox {
  margin-bottom: 1em; /* Отступ снизу для блока */
}

.searchData {
  background-color: white; /* Белый фон для поля ввода */
  color: black; /* Черный текст */
  border: 1px solid #ccc; /* Цвет границы */
  padding: 0.5em; /* Отступ внутри поля */
  border-radius: 4px; /* Скругление углов */
  width: 100%; /* Ширина поля ввода */
  box-sizing: border-box; /* Учитывать отступы в ширине */
}

.searchText {
  color: black; /* Черный текст для метки */
  font-weight: bold; /* Полужирный текст для метки */
  margin-bottom: 0.5em; /* Отступ снизу для метки */
  display: block; /* Блочный элемент для метки */
}
