.contact {
  border: 1px solid #000;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.contact:not(:last-child) {
  margin-bottom: 10px;
}

.contactText {
  margin: 0;
}

.contactBtn {
  outline: none;
  justify-content: center;
  align-self: center;
  line-height: 0;
  border: 1px solid #000;
  height: 30px;
  padding: 5px;
}

.contactBtn:hover {
  color: #646cff;
  transition: color 0.25s;
}

.contactBtn:focus {
  outline: none;
}
